[submodule "Auth/storage/app/UberPopugIncSchema"]
	path = Auth/storage/app/UberPopugIncSchema
	url = https://github.com/fman42/UberPopugIncSchema.git
[submodule "TaskTracker/storage/app/UberPopugIncSchema"]
	path = TaskTracker/storage/app/UberPopugIncSchema
	url = https://github.com/fman42/UberPopugIncSchema.git
